header{
  padding: 30px;
  margin: 20px;
  width: 900px;
  text-align: left;
  background: #abd7eb;
  float:left; 
  transition: color 0.5s;
}

header:hover{
  background: #dbe8ee;
	color:rgb(211, 79, 79);
}

h1{
  text-align: center;

}
.column-header-left{
  float:left;
}
.column-header-right{
  float:right;
}
main{
  padding: 20px;
  margin: 20px;
  background: #aef3e8;
  float: left;
  width: 650px;
  transition: color 0.5s;
}

main:hover{
  background: #dbe8ee;
	color:rgb(211, 79, 79);
}

footer{
  padding: 30px;
  margin: 20px;
  width: 900px;
	clear:left;
  text-align: right;
	background:rgb(204, 191, 250);
	color:#fff;
  transition: color 0.5s;
}

footer:hover{
  background: #dbe8ee;
	color:rgb(211, 79, 79);
}

aside{
  padding: 30px;
  margin: 20px;
  width: 210px;
	clear:left;
  float: left;
  color: white;
  background: #7ba1a1;
  padding: 10px;
  transition: color 0.5s;
}

aside:hover{
  background: #dbe8ee;
	color:rgb(211, 79, 79);
}

body{
  width: 1000px;
  display: block;
  margin: auto;
  font-size: 14px;
}

*{
  box-sizing: border-box;
  font-family: 'Kdam Thmor Pro', sans-serif;
  text-decoration: none;
}

ul {
  padding:0;
  list-style: none;
  counter-reset: li;
  font-size: 0.8em;
}

.logo{
  height: 50px;
  width: 120px;
}

img {
  max-width: 100%;
  height: auto;
}